<p>
  Сurrent date: {{ date }}
</p>

{% macro input(name, value, type = "text", size = 20) %}
  <input type="{{ type }}" name="{{ name }}" value="{{ value|e }}" size="{{ size }}"/>
{% endmacro %}

{% macro textarea(name, value, rows = 10, cols = 40) %}
  <textarea name="{{ name }}" rows="{{ rows }}" cols="{{ cols }}">{{ value|e }}</textarea>
{% endmacro %}

<p>{{ _self.input('password', '', 'password') }}</p>

<p>{{ _self.textarea('text', '', 'text') }}</p>
