<div class="description">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nisi nisi, vehicula quis massa at, fermentum tempor
  risus. Phasellus consequat vel neque vel euismod. Curabitur tellus leo, commodo at nibh sed, euismod mattis orci. Nam
  in semper ante. Vestibulum pellentesque vitae nibh vel sollicitudin.
</div>

<div class="title">My Contact Details</div>
<div>
  {{ form.name }}
  {{ form.email }}
  {{ form.country }}
  {{ form.phone }}
  {{ form.comment }}
</div>
{% import "current-date.html.twig" as forms %}
<p>{{ forms.input('username') }}</p>
<p>{{ forms.input('password', null, 'password') }}</p>
<div class="buttons">
  {{ form.submit }}
</div>
